name: Compile Firmware

on:
  push:
    branches: [ main ]
    paths:
      - 'kv_store/**'
      - '.github/workflows/**'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v2

    - name: Install Renesas UNO Core
      run: |
        arduino-cli core update-index
        arduino-cli core install arduino:renesas_uno

    - name: Compile kv_store Sketch
      run: |
        arduino-cli compile --fqbn arduino:renesas_uno:unor4wifi kv_store
